* {
    margin: 0;
    padding: 0;
    color: white;
}

li {
    list-style: none;
}

h1 {
    color: rgb(173, 169, 169);
}


/* EFECTO FONDO BLUR */

.img-src {
    position: fixed;
    background-position: center;
    background-size: cover;
    top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
}

.blurred-img {
    opacity: 0;
}


/* NAVBAR */

.navbar-toggler:focus {
    box-shadow: none;
}

.fuenteGrande {
    font-size: larger;
}

.fondoNegro {
    background-color: black;
}

.textoNegro {
    color: black;
}

.textoBlanco {
    color: white;
}

.textoBlanco:hover {
    color: #FF1616;
}


/* BIO */

.marginBio {
    margin-top: 460px;
}


/* Link Tree */

.marginLinkTree {
    margin-top: 460px;
}

#botonLinkTreeYouTube {
    border: 5px solid rgb(241, 53, 53);
}

#botonLinkTreeYouTube:hover {
    background-color: rgba(128, 128, 128, 0.39);
    border: 5px solid rgba(128, 128, 128, 0);
}

.contenedorLinkTree {
    margin-bottom: 20px;
    width: 60%;
    margin: 0px auto;
    margin-bottom: 20px;
}

.enlaceLinkTree {
    text-decoration: none;
}

.botonLinkTree:hover {
    background-color: rgba(128, 128, 128, 0.39);
    border: 5px solid rgba(128, 128, 128, 0);
}

.botonLinkTree {
    border: 5px solid whitesmoke;
    width: 100%;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.iconosLinkTree {
    position: relative;
    left: -260px;
    top: 2px;
}

.nombreLinkTree {
    font-size: 23px;
    position: relative;
    left: -10px;
}


/* Ultimo Lanzamiento */

.aquellosTexto {}

.videoIndex {
    width: 75%;
    height: 500px;
}

.escuchaloEn {
    margin-top: 20px;
}

.spotifyAquellos {
    color: #1DB954;
    text-decoration: none;
    text-decoration: underline;
}

.spotifyAquellos:hover {
    color: #1DB954;
}


/* MUSICA */

.musicaPortada {
    width: 350px;
    height: 350px;
}

.tituloLanzamiento {
    color: whitesmoke;
    /* margin-top: ;
    margin-bottom: ; */
}

.spotifyEmbedSencillo {
    width: 95%;
    height: 200px;
}

.spotifyEmbedAlbum {
    width: 95%;
    height: 200px;
}


/* FOOTER */

.iconosRS {
    color: rgb(173, 169, 169);
}

.iconosRS:hover {
    color: white;
}


/* MEDIA QUERIES */

@media (max-width: 767.98px) {
    h1 {
        color: rgb(173, 169, 169);
        text-shadow: rgb(0, 0, 0) 2px 0px 0px, rgb(0, 0, 0) 1.75517px 0.958851px 0px, rgb(0, 0, 0) 1.0806px 1.68294px 0px, rgb(0, 0, 0) 0.141474px 1.99499px 0px, rgb(0, 0, 0) -0.832294px 1.81859px 0px, rgb(0, 0, 0) -1.60229px 1.19694px 0px, rgb(0, 0, 0) -1.97998px 0.28224px 0px, rgb(0, 0, 0) -1.87291px -0.701566px 0px, rgb(0, 0, 0) -1.30729px -1.5136px 0px, rgb(0, 0, 0) -0.421592px -1.95506px 0px, rgb(0, 0, 0) 0.567324px -1.91785px 0px, rgb(0, 0, 0) 1.41734px -1.41108px 0px, rgb(0, 0, 0) 1.92034px -0.558831px 0px;
    }
    .navSm {
        padding: 20px 0;
    }
    .fuenteLogo {
        font-size: 30px;
    }
    .marginBio {
        margin-top: 320px;
    }
    .alturaFeed {
        height: 320px;
        margin-top: 20px;
    }
    .ocultar {
        display: none;
    }
    .img-src {
        top: 0;
    }
    .videoIndex {
        width: 100%;
        height: 250px;
    }
    .escuchaloEn {
        margin-top: 10px;
        text-align: center;
    }
    /* MUSICA */
    .musicaPortada {
        height: 180px;
        width: 180px;
        margin-bottom: 15px;
    }
    .centradoLanzamientos {
        text-align: center;
    }
    .spotifyEmbedSencillo {
        width: 70%;
        height: 80px;
    }
    .spotifyEmbedAlbum {
        width: 70%;
        height: 350px;
    }
    /* Link Tree */
    .contenedorLinkTree {
        width: 100%;
        margin: 0px auto;
        margin-bottom: 20px;
        text-align: center;
    }
    .nombreLinkTree {
        font-size: medium;
        position: relative;
        left: -10px;
    }
    .marginLinkTree {
        margin-top: 375px;
    }
}